

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(0, 0, 0);
    font-family: Roboto;
    color: #cccccc83;
    
  }
  body {
    font-family: 'Lora', serif;
  }
  .weather {
    display: flex; 
    align-items: center;
    margin: 15px 0;
    font-size: 1.5rem;
  }
  #location {
    font-size: 3rem;
    font-weight: 800;
    font-style: italic;
  }
  .desc {
    font-size: 1.25rem;
    text-transform: capitalize;
  }
  .circle {
    background-color: black;
    border-radius: 50px;
    height: 15px;
    width: 15px;
    margin: 0 15px;
  }
   .container{
    height: 80vh;
    width: 100vw;
    display: flex;
    position: relative;

   }
   .footer{
    height: 20vh;
    width: 100vw;
   }
   .left-side{
    height: 100%;
    width: 35%;
   }
   .right-side{
    height: 100%;
    width: 35%;
   }
   .center-side{
    height: 100%;
    width: 30%;
   }
   .left-side .left-top,
   .center-side .center-top,
   .right-side .right-top{
    height: 20%;
    width: 100%;
   }
   .left-side .left-center,
   .center-side .center-center,
   .right-side .right-center{
    height: 80%;
    width: 100%;
   }
   .left-side .left-center{
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .center-side .center-center{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
   }
   .right-side .right-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

   }
   .forecast-card{
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .sunshine,
   .wind{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
   }
   .sunshine img,
   .wind img{
    width: 50px;
    object-fit: contain;
   }
   .wind{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
   }
   .data{
    display: flex;
    justify-content: space-around;
    gap: 50px;
   }
   .data-temp{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
   }
   .wind_speed,
   .sunrise{
    font-weight:900;
    font-size: x-large;
   }
/* CSS for weather forecast cards */
.weather-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.forecast-card {
  width: 18%;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.date,
.description,
.celsius,
.fahrenheit {
  margin-bottom: 5px;
}

.icon img {
  width: 50px;
}

.date {
  order: 1;
}

.icon {
  order: 2;
}

.temp {
  order: 3;
}

.description {
  order: 4;
}


@media (max-width: 768px) {
  .forecast-card {
    width: 100%; 
  }
}



.headline-container h4{
  text-align: center;
  letter-spacing: 2px;
}

.headline {
  padding-top: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  animation: fadeInOut 7s ease-in-out infinite;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  60%, 70% { opacity: 1; }
  100% { opacity: 0; }
}

.clock{
  background: #16191e;
  position: absolute;
  box-sizing: content-box;
  border: 15px solid #242931;
  box-shadow: 15px 15px 35px rgba(0,0,0,0.2),
  inset 0 0 30px rgba(0,0,0,0.4);
  min-height: 18em;
	min-width: 18em;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("https://imvpn22.github.io/analog-clock/clock.png");
	background-position: center center;
	background-size: cover;
	border-radius: 50%;
	transition: all ease 0.2s;
}
img{
  position: relative;
}
.hand{
  position: absolute;
  background-color: #ffffff;
  margin: auto;
  left: 0;
  right: 0;
  border-radius: 5px;
  transform-origin: bottom;
}
.hour{
  height: 60px;
  width: 10px;
  top: 100px;
}
.minute{
  height: 80px;
  width: 5px;
  top: 80px;
}
.seconds{
  height: 90px;
  width: 3px;
  top: 70px;
  background-color: #2987e4;
}
.clock-container {
  font-family: Arial, sans-serif;
  font-size: 34px;
  text-align: center;
  padding-top: 45px;
}

/* HOLIDAY */

.holiday-item {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 2px 5px;
  padding-left: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
}

span{
  display: flex;
}
.holiday-name {
  font-weight: bold;
  padding-left: 5px;
}

.holiday-type {
  margin-left: 10px;
  flex: 0.999;
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
}

sup {
  vertical-align: top;
  font-size: smaller;
}
